<ion-navbar *navbar primary >
  <ion-title>EMTipp 2016 - TippAbgabe</ion-title>
</ion-navbar>

<ion-content padding class="page1">
  <ion-card>

    <ion-card-header>
      Deutschland - Ukraine
    </ion-card-header>

    <ion-card-content>
      <p>Dein bisheriger Tipp: 2 - 0</p>
      <ion-item>
        <ion-label floating>Deutschland</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Ukraine</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <button>Speichern</button>
    </ion-card-content>

  </ion-card>
</ion-content>
