
<ion-navbar *navbar primary>
  <ion-title>
    EMTipp 2016 - Deine Tipps
  </ion-title>
</ion-navbar>

<ion-content class="page2">
  <ion-list>
    <ion-list-header>
      1 Spieltag
    </ion-list-header>
    <ion-item>Deutschland - Ukraine <span text-left="">3 - 2</span></ion-item>
    <ion-item>England - Spanien</ion-item>
    <ion-item>Hurz - Test</ion-item>
    <ion-list-header>
      2 Spieltag
    </ion-list-header>
  </ion-list>
</ion-content>
