<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar primary>
  <ion-title>Login zu EMTipp</ion-title>
</ion-navbar>

<ion-content padding class="login">
  <form [ngFormModel]="loginForm" (submit)="login($event)">

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" ngControl="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" ngControl="password"></ion-input>
    </ion-item>
    <!--<ion-input >-->
      <!--<ion-label>Username</ion-label>-->
      <!--<input type="text" ngControl="username">-->
    <!--</ion-input>-->

    <!--<ion-input >-->
      <!--<ion-label>Password</ion-label>-->
      <!--<input type="password" ngControl="password">-->
    <!--</ion-input>-->

    <div padding>
      <button block type="submit" [disabled]="!loginForm.valid">Login</button>
    </div>
  </form>
</ion-content>
